* {
  .ql-inline-code {
    position: relative;
    margin: 2px;
    vertical-align: middle;

    .ql-show {
      display: inline;

      &.ql-inactive {
        display: none;
      }
    }

    .ql-dropdown {
      display: none;
    }

    .ql-edit {
      display: none;
    }

    .ql-container & {
      display: inline-block;

      .ql-show {
        display: none;
      }

      .ql-edit {
        display: inline-flex;

        .ql-input {
          flex: 1 100%;
          color: #626262;
          margin: 0;
          padding: 8px;
          height: unset;
          font-size: 12px;
          border: none;
          border-radius: 0;
          background: #e8e8e8;
        }

        .ql-checkbox {
          order: -1; // TODO: this fucks up line-height in contenteditable, dunno why?
          position: relative;
          color: #686868;
          flex: 0 0 32px;
          display: flex;
          cursor: pointer;
          font-size: 14px;
          background: #c8c8c8;
          transition: background-color 0.2s;

          i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &.ql-on {
              color: #476d38;
            }

            &.ql-off {
              width: 20px;
              height: 20px;
              border-radius: 2px;
              border: 1px solid #8f8f8f;
              background: #dfdfdf;
            }
          }

          &.ql-inactive {
            background: #d6d6d6;
            .ql-on {
              display: none;
            }
          }
        }

        .ql-button {
          color: #686868;
          display: flex;
          flex: 0 0 30px;
          cursor: pointer;
          width: 30px;
          font-size: 14px;
          background: #dadada;
          transition: background-color 0.2s;

          i {
            margin: auto;
          }

          &:hover {
            background: #c8c8c8;
          }
        }
      }

      .ql-dropdown {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        right: 0;
        max-height: 240px;
        overflow-y: auto;
        z-index: 10;

        .ql-option {
          display: flex;
          cursor: pointer;
          font-size: 12px;
          background: #c8c8c8;
          transition: color 0.1s, background-color 0.1s;

          &:nth-child(even) {
            background: #d0d0d0;
          }

          &:hover {
            color: white;
            background: #8298ab;
          }

          .ql-title {
            flex: 1 100%;
            padding: 4px 8px;
          }

          .ql-button {
            color: #afafaf;
            display: flex;
            flex: 0 0 31px;
            cursor: pointer;
            width: 30px;
            font-size: 14px;
            transition: color 0.1s;

            i {
              margin: auto;
            }
          }

          &:hover {
            .ql-button {
              color: #b74d4d;
            }
          }
        }
      }

      &:not(.ql-show-dropdown) {
        .ql-when-dropdown-only {
          display: none;
        }
      }

      &.ql-show-dropdown {
        .ql-dropdown {
          display: block;
        }

        .ql-dropdown-toggle {
          background: #c8c8c8;
        }
      }
    }

  }

  .ql-check-text {
    @extend .ql-inline-code;
    .ql-edit {
      width: 320px;
    }
  }

  .ql-short-text {
    @extend .ql-inline-code;
    .ql-edit {
      width: 80px;
    }
  }

  .ql-long-text {
    @extend .ql-inline-code;
    .ql-edit {
      width: 340px;
    }
  }
}
